.app {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  width: calc(100% - 80px);
}
